h1{
    font-family: 'Times New Roman', Times, serif;
}
button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
  
}
input{
    padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 6rem;
  text-align: center;
}